.title {
    text-align: center;
    color: white;
    padding: 50px;
} @media (max-width: 425px){.title {
    padding-left: 10px;
    padding-right: 10px;
}}

#text {
    text-align: justify;
    font-size: 18px;
    margin-left: 140px;
    margin-right: 140px;
} @media (min-width: 1440px){#text {
    margin-left: 160px;
    margin-right: 160px;
}} @media (min-width: 1600px){#text {
    margin-left: 250px;
    margin-right: 250px;
}} @media (max-width: 991px){#text {
    margin-left: 60px;
    margin-right: 60px;
}} @media (max-width: 425px){#text {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
}}

#text2 {
    text-align: justify;
    font-size: 15px;
    margin-left: 140px;
    margin-right: 140px;
} @media (min-width: 1440px){#text2 {
    margin-left: 160px;
    margin-right: 160px;
}} @media (min-width: 1600px){#text2 {
    margin-left: 250px;
    margin-right: 250px;
}} @media (max-width: 991px){#text2 {
    margin-left: 60px;
    margin-right: 60px;
}} @media (max-width: 425px){#text2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13px;
}}

.text {
    text-align: center;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
} @media (max-width: 425px){.text {
    font-size: 16px;
}}

#input {
    text-align: center;
    font-size: 18px;
}

.center {
    text-align: center;
}

#center {
    text-align: center;
}

img {
    width: 80%;
    border-radius: 20px;
} @media (max-width: 991px){img {
    width: 150%;
    border-radius: 0;
}}

div2
{
    padding-left: 432px;
    padding-right: 432px;
}
div3
{
    padding-left: 400px;
    padding-right: 400px;
}
div4
{
    padding-left: 401px;
    padding-right: 401px;
}
div5
{
    padding-left: 418px;
    padding-right: 418px;
}
div6
{
    padding-left: 404px;
    padding-right: 404px;
}
div7
{
    padding-left: 406px;
    padding-right: 406px;
}

@media (max-width: 991px){.home {
    padding-top: 20px;
}}

.navbar-toggler:active, .navbar-toggler:focus, .navbar-toggler-icon:active, .navbar-toggler-icon:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.footer {
    font-size: 15px;
}



/*Tables:*/
td {
    padding: 14px;
}

.header {
    background-color: rgb(233,236,239);
}

.tablerow {
    background-color: white;
}

.centertable {
    margin-left: auto;
    margin-right: auto;
} 

.cornerright {
    border-bottom-right-radius: 4px;
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
}

.cornerleft {
    border-bottom-left-radius: 4px;
    color: rgb(73,80,87);
}

.cornertopr {
    border-top-right-radius: 4px;
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
}

.cornertopl {
    border-top-left-radius: 4px;
    color: rgb(73,80,87);
}

.borderleft  {
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
} @media (max-width: 425px){.borderleft {
    padding-left: 5px;
    padding-right: 5px;
}} 

.borderleft-copy  {
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
}

#borderbottom {
    border-bottom: 1px solid lightgrey;
    color: rgb(73,80,87);
}

.inputcornersl {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: rgb(73,80,87);
    background-color: rgb(233,236,239);
}

.inputcornersr {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
    padding: 6px;
    padding-left: 14px;
}

.inputcornersl2 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: rgb(73,80,87);
    background-color: rgb(233,236,239);
    padding: 1px;
    text-align: center;
}

.inputcornersr2 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: rgb(73,80,87);
    padding: 0px;
    border-left: 1px solid lightgrey;
}

.inputcornerboth {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    color: rgb(73,80,87);
    background-color: rgb(233,236,239);
    padding: 6px;
}

.form-control, .custom-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid lightgray;
}
.form-control:active, .form-control:focus, .custom-select {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}



/*calorie counter*/
#inputDailycalories {
    border-radius: 4px;
}

#celcolor {
    background-color: rgb(233,236,239);
} @media (max-width: 425px){#celcolor {
    padding-left: 5px;
    padding-right: 5px;
}} 

#row {
    background-color: white;
}

#space {
    border-collapse: separate;
    border-spacing: 0 5px;
}

#space2 {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.lessspace {
    padding: 7px;
}

.lessspace2 {
    padding: 0;
}

.borderleft2 {
    border-left: 1px solid lightgrey;
    color: black;
} @media (max-width: 425px){.borderleft2 {
    padding-left: 5px;
    padding-right: 5px;
}} 

.borderleft2b {
    color: black;
}

.borderleft3 {
    border-left: 1px solid lightgrey;
    color: rgb(73,80,87);
} @media (max-width: 425px){.borderleft3 {
    padding-left: 5px;
    padding-right: 5px;
}} 

.cornertopr2 {
    border-top-right-radius: 4px;
    border-left: 1px solid lightgrey;
    color: black;
    padding: 14px;
} @media (max-width: 425px){.cornertopr2 {
    padding-left: 5px;
    padding-right: 5px;
}} 

.cornertopl2 {
    border-top-left-radius: 4px;
    color: black;
    padding: 14px;
} @media (max-width: 425px){.cornertopl2 {
    padding-left: 5px;
    padding-right: 5px;
}} 

#celcolor2 {
    background-color: rgb(233,236,239);
    padding: 12px;
}

.column-width {
    min-width: 100px;
} @media (max-width: 560px){.column-width {
    min-width: 60px;
}} 

@media (max-width: 400px){.column-width2 {
    padding: 0;
}} 

@media (max-width: 768px){.table-big {
    font-size: 12px;
}} 
@media (max-width: 560px){.table-big {
    font-size: 8px;
}} 

@media (max-width: 650px){.blank-column {
    display: none;
}} 

@media (max-width: 768px){.mealplan-big {
    font-size: 12px;
}} 
@media (max-width: 560px){.mealplan-big {
    font-size: 8px;
}} 

@media (max-width: 560px){.font-small {
    font-size: 10px;
}} 
@media (max-width: 400px){.font-small {
    font-size: 8px;
}} 